<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Nikolaychuk_AssetsWork::assets_data" 
             title="Data" translate="title"
             module="Nikolaychuk_AssetsWork" sortOrder="99"
             parent="Magento_Backend::content_elements"         
             action=""
             resource="Magento_Backend::content"/>
    </menu>
</config>
